<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<!-- 进行移动端开发时，请在head内添加viewport设置，以达到最佳的绘制性能； -->
		<meta name="viewport" content="initial-scale=1.0, user-scalable=no"> 
		<title>添加锚点绑定click事件</title>
		<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css"/>
		<style type="text/css">
			/* 为地图容器指定高度、宽度； */
			#container{
				margin-left: 30px;
				margin-top: 30px;
				width: 1200px;
				height: 600px;
			}
		</style>
	</head>
	<body>
		<div id="container">
			
		</div>
		<button type="button" id="search-btn" class="btn btn-success" >添加/移除多图层</button>
	</body>
</html>
 <!-- 同步加载 在页面添加 JS API 的入口脚本标签，并将其中「您申请的key值」替换为您刚刚申请的 key； -->
<script type="text/javascript" src="https://webapi.amap.com/maps?v=1.4.15&key=ac8c5d466f5196290eb87ccbec8c7fa6"></script>
<script type="text/javascript">
	// map 对象
	var map = new AMap.Map('container', {
		center:[116.397428, 39.90923],//中心地址
		zooms: [4,18],//设置地图级别范围
		zoom: 13
	});
	
	
	 var infoWindow = new AMap.InfoWindow({	//创建信息窗体
        isCustom: true,  //使用自定义窗体
        content:'<div>购物天堂<br><span>美丽故宫</span></div>', //信息窗体的内容可以是任意html片段		 
	 });
	
	var marker = new AMap.Marker({
		position:[116.481181, 39.989792]
	});
	
	var onMarkerClick = function(e){
		infoWindow.open(map, e.target.getPosition());//打开信息窗体
		        //e.target就是被点击的Marker
	}
	
	
	
	
</script>




